* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    height: 80px;
}

.title {
    align-items: center;
}

.title img {
    width: 4em;
}

button {
    padding: 0 3em;
}

#select {
    width: 10em;
}

.game {
    background-color: #7fffd4;
    width: 100%;
    height: calc(100vh - 130px);
}

footer {
    height: 50px;
    align-items: center;
}

.made {
    padding-left: 3em;
}